{% extends 'flatpages/default.html' %}

{% block content %}
{% if article %}
<table width="100%" style="margin-top: 35px">
    <tr>
        <td><u>Время публикации</u></td>
        <td><u>Автор</u></td>
        <td><u>Категория Объявления</u></td>
        <td><u>Объявление</u></td>
        <td><u>Вложения</u></td>

    </tr>
    <tr>
        <td>{{ article.post_time }}</td>
        <td>{{ article.author }}</td>
        <td>{{ article.category }}</td>
        <td>{{ article.text }}</td>
        <td>{% if article.upload %}
            <p><img class="img-article-left" src="{{article.upload.url}}"></p>
            {% endif %}
        </td>
    </tr>
</table>
{% else %}
<h3>"There are no publications!""</h3>
{% endif %}

 {% if user.is_authenticated %}
    <hr>
    <div class="row">
        <div class="single-form-left">
            <!-- contact form grid -->
            <div class="contact-single">
                <h3 class="editContent">
                    <span class="sub-tittle editContent">{{article.comment_set.count}}</span>
                    Оставить отзыв
                </h3>
                <form action="{% url 'add_comment' article.id %}" method="post" class="mt-4"
                      id="formReview">
                    {%csrf_token%}
                    <input type="hidden" name="parent" id="contactparent" value="">
                    <div class="form-group editContent">
                        <label for="contactcomment" class="editContent">
                            Ваш комментарий *
                        </label>
                        {{form.text}}
                    </div>

                    <button type="submit"
                            class="mt-3 btn btn-success btn-block py-3">
                        Отправить
                    </button>
                </form>
            </div>
            <!--  //contact form grid ends here -->
        </div>
    </div>

<!--<td>{{ comment.text }}</td>-->
<!--<td>{{ article.category }}</td>-->
{% if article.comment_set.all %}
    {% for comment in article.comment_set.all %}
        <div class="media py-5">
            <div class="media-body mt-4">
                <h5 class="mt-0 editContent">
                    {{ comment.comment_user.username }}
                </h5>
                <p class="mt-2 editContent">
                    {{ comment.text }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endif %}
{% endblock content %}