{% extends 'flatpages/default.html' %}

{% block content %}
<h2>Личный кабинет {{ request.user.username }}</h2>

<hr>
<form action="{% url 'profile' %}" method="post" >
    {% csrf_token %}
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти">
</form>

<br><button><a href="/article/profile/">Сбросить фильтр</a></button>
<hr>
<h4>Все отклики на выбранное объявление:</h4>
{% if comments %}
    {% for comment in fcomments %}
    <p>{{ comment.text }}</p>
    <p>{{ comment.comment_user}}</p>
    {% endfor %}
{% endif %}
{% endblock content %}